body {
	background-color: #f8f9fa;
}

.container{
	margin-top: 20px;
}

.main-movie-title{
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color:  black;
}

.movie_date,.movie_date:hover{
	font-size: 1em;
	color:  black;
}

.main-movie-partial-text,.main-movie-full-text{
	font-size: 1.5em;
	margin-top: 20px;
}

.main-movie-category{
	color: rgba(0, 0, 0, 0.4);
}

.author-name:link{
	color: gray;
}

.author-name:visited{
	color: #696969;
}

.author-name:hover{
	color: #D3D3D3;
}

.movie_title:link, .movie_title:hover, .movie_title:visited{
	text-decoration: none;
	color:  black;
}

.main-movie-category:hover,.main-movie-title:hover,.author-name{
	text-decoration: underline;
	color:  black;
}

footer{
	color: #fff;
	background-color: #343a40;
}

.litems,.mlink{
	text-decoration: none;
	/*color: #f8f9fa;*/
	color: rgba(255,255,255,.90)!important;
	
}
.litems:hover{
	/*color: white;*/
	color: rgba(255,255,255,10)!important;
}

.row{
	margin-top: 20px;
}

.navbar-profile-image{
	width: 50px;
	height: 50px;
}

.profile-image{
	width: 60px;
	height: 60px;
	margin: 10px;
}

.a_image{
  border: 1px solid #ddd;
  border-radius: 8px;
}

.aba_header{
	text-align: center;
}

.error_message{
	text-align: center;
	color: rgba(255,30,30,.90);
	font-size: 2em;
	font-weight: bold;
}


.error_image{
	text-align: center;
	width: 1000px;
	margin: 10px;
	border-radius: 15px;
	border: 1px solid black;

  display: block;
  margin-left: auto;
  margin-right: auto;

}

.align-buttons{
	text-align: center;
	/* border: 1px solid black; */
}

.tmdb-container {
    background-color: SlateGray;
    padding: 1em;
    border-radius: 1em;
}