{% extends "base.html" %}

{% block title %}
    Error 500: Internal Server Error
{% endblock title %}

{% block content %}
    <div class="error_message">
        ERROR 500! Εσωτερικό σφάλμα εξυπηρετητή!
    </div>

<!--    <div class="error_image_container">
      &lt;!&ndash; Προσθέστε παρακάτω το μονοπάτι για μία κανονική εικόνα μέσα στα static files στο src του παρακάτω img tag &ndash;&gt;
      <img class="error_image" width="1280" src="{{ url_for('static', filename='images/errors/500.jpg') }}">
    </div>-->
{% endblock %}
