{% extends "base.html" %}

{% block title %}
    Ταινίες από το TMDB
{% endblock title %}

{% block content %}

<h2 class="aba_header">Πληροφορίες εφαρμογής</h2>
<hr>



<div class="container">
    <div class="row align-items-top">
        <div class="col-md-12">
            <div class="d-flex justify-content-center text-center">
                Τελική εργασία για το μάθημα
            </div>
            <h4 class="d-flex justify-content-center text-center">
                ΗΥ3.4 Εισαγωγή στην ανάπτυξη διαδικτυακών εφαρμογών με Flask
            </h4>
            <div class="justify-content-center text-center">Οι ταινίες μου v1&nbsp;<a href="mailto:skarmoutsosv@gmail.com">@SkarmoutsosV</a>, 2022. &ensp;
                Βασισμένο&nbsp;στο:&nbsp;<a href="https://github.com/dagg/MathesisFlaskCourse">FlaskBlogApp "Το blog μου"</a>
                <a href="https://www.gnu.org/licenses/gpl-3.0.html">
                    <img style="vertical-align:middle; height:50px;"
                            src="https://upload.wikimedia.org/wikipedia/commons/c/cb/GPLv3_Logo_filled.png"
                            title="GNU General Public License v3"
                            alt="GNU GPLv3"></a>
            </div>
            <div class="d-flex justify-content-center">
                Επιβλέποντας καθηγητής:&nbsp;<a href="https://github.com/dagg/">Δημήτρης Αγγελάκης</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="https://mathesis.cup.gr/">
                    <img src="https://mathesis.cup.gr/static/EuCup/images/logo.8d6b78c2c7da.png"
                    title="mathesis - ΗΥ3.4 Εισαγωγή στην ανάπτυξη διαδικτυακών εφαρμογών με Flask"
                    alt="mathesis.cup.gr" height="30px"></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
