  <footer class="page-footer font-small stylish-color-dark pt-1 mt-4">
    <div class="footer-copyright py-3 text-center">
        Copyright: <a href="mailto:skarmoustosv@gmail.com" style="text-decoration: none;
	color: white;">Vangelis Skarmoutsos</a> 2021 -
        <script>document.write(new Date().getFullYear())</script>,
        GPLv3
    </div>
  </footer>