<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" title="Η συλλογή μου">Οι Ταινίες Μου</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link mlink" aria-current="page" href="/" title="Αρχική σελίδα">Αρχική</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mlink" href="{{ url_for('new_movie') }}" title="Εισαγωγή νέας ταινίας">Νέα Ταινία</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mlink" href="{{ url_for('tmdb') }}" title="Ταινίες από το themoviedb.org">TMDB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mlink" href="{{ url_for('about') }}" title="Σχετικά με την εφαρμογή">Περί</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="rounded-circle navbar-profile-image" alt="{{ current_user.username }}" src="{{ url_for('static', filename='images/profiles_images/'+current_user.profile_image) }}" data-holder-rendered="true" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ current_user.username }}">
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('account') }}">{{ current_user.username }}</a></li>
                <li><a class="dropdown-item" href="{{ url_for('movies_by_author', author_id=current_user.id) }}">Οι ταινίες μου</a></li>
                <li><a class="dropdown-item" href="{{ url_for('logout_page') }}">Έξοδος</a></li>
              </ul>
            </li>
          {% else %}
            <li class="p-2 bd-highlight"><a class="litems" href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Εγγραφή</a></li>
            <li class="p-2 bd-highlight"><a class="litems" href="/login"><span class="glyphicon glyphicon-log-in"></span> Είσοδος</a></li>
          {% endif %}


        </ul>
      </div>
    </div>
  </nav>
