{% extends "base.html" %}

{% block title %}
  {{ page_title }}
{% endblock %}

{% block content%}
<div class="container login-container">
  <div class="row align-items-center">
    <div class="col-md-6 login-form-1">
        <h3>{{ page_title }}</h3>

        <!-- Εδώ μπαίνει ο κώδικας της φόρμας εισαγωγής νέας ταινίας με όλα τα απαραίτητα πεδία -->
        <!-- προσοχή στη δήλωση της φόρμας καθώς θα στέλνει και αρχεία (movie image) εκτός από απλά δεδομένα -->
        <!-- Επίσης, θα πρέπει να μπει βοηθητικό κείμενο στο πεδίο βαθμολογίας και έτους πρώτης προβολής (παρομοίως με τα υπόλοιπα πεδία) που -->
        <!-- θα ενημερώνει τους χρήστες ότι επιτρέπονται ακέραιοι αριθμοί από το 1 έως το 100 για το rating και από το 1888 έως το current year για το έτος πρώτης προβολής -->
        <form action="#" method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}

          <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control", required=False) }}
            <div id="titleHelp" class="form-text">Παρακαλώ εισάγετε τον τίτλο της ταινίας.</div>
            {% if form.title.errors %}
              <ul class=errors>
              {% for error in form.title.errors %}
                <li class="alert text-danger">{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="mb-3">
            {{ form.plot.label(class="form-label") }}
            {{ form.plot(class="form-control", rows="5", required=False) }}
            <div id="plotHelp" class="form-text">Παρακαλώ εισάγετε την υπόθεση της ταινίας.</div>
            {% if form.plot.errors %}
              <ul class=errors>
              {% for error in form.plot.errors %}
                <li class="alert text-danger">{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="mb-3">
              {{ form.image.label(class="form-label") }}
              {{ form.image(class="form-control") }}
              <div id="imageHelp" class="form-text">Παρακαλώ δώστε μια εικόνα για την ταινία</div>
              {% if form.image.errors %}
                  <ul class="errors">
                      {% for error in form.image.errors %}
                          <li class="alert text-danger">
                              {{ error }}
                          </li>
                      {% endfor %}
                  </ul>
              {% endif %}
          </div>

          <div class="mb-3">
              {{ form.release_year.label(class="form-label") }}
              {{ form.release_year(class="form-control", required=False) }}
              <div id="release_yearHelp" class="form-text">Παρακαλώ εισάγετε το έτος πρώτης προβολής της ταινίας (από το 1888 έως το {{ current_year }}).</div>
              {% if form.release_year.errors %}
                <ul class=errors>
                    {% for error in form.release_year.errors %}
                        <li class="alert text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </div>

          <div class="mb-3">
              {{ form.rating.label(class="form-label") }}
              {{ form.rating(class="form-control", required=False) }}
              <div id="ratingHelp" class="form-text">Παρακαλώ βαθμολογήστε την ταινία με έναν αριθμό από το 1 έως το 100.</div>
              {% if form.rating.errors %}
                <ul class=errors>
                    {% for error in form.rating.errors %}
                        <li class="alert text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
          </div>

          <div class="mb-3">
              {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
    </div>
    {% if movie %}
        <div class="col col-md-6">
            {% if movie.image %}
                {% if movie.image != 'default_movie_image.png' %}
                    <img src="{{ url_for('static', filename='images/movies_images/'+movie.image) }}" alt="{{ movie.title }}" title="{{ movie.title }}" class="img-responsive mx-auto d-block a_image" height="480">
                {% elif movie.image == 'default_movie_image.png' %}
                    <img src="{{ url_for('static', filename='images/movies_images/default_movie_image_l.png') }}" alt="{{ movie.title }}" title="{{ movie.title }}" class="img-responsive mx-auto d-block a_image" height="480">
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
  </div>
</div>



{% endblock %}