{% extends "base.html" %}

{% block title %}
    Ταινίες από το TMDB
{% endblock title %}

{% block content %}

<h2 class="aba_header">Ταινίες από το <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" style="height: 0.8em; vertical-align:baseline"> themoviedb.org</h2>
<hr>
<div class="text-center">
    Παράμετροι αναζήτησης: {{ api_params }}
</div>
<hr>
{% if tmdb_movie == Null %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">Δε βρέθηκε καμία ταινία</div>
{% endif %}

<div class="align-buttons">
    {% if (page-1)*20 + number+1 > 1 %}
        <a class="btn btn-primary btn-lg my-1 me-4 px-4"
           href="{{ url_for('tmdb', number=number, page=page, total=total, action='previous') }}">«</a>
    {% else %}
        <button type="button" class="btn btn-primary btn-lg my-1 me-4 px-4" style="pointer-events: none;">«</button>
    {% endif %}

    {{ (page-1)*20 + number+1 }}/{{ total }}

    {% if (page-1)*20 + number+1 < total %}
        <a class="btn btn-primary btn-lg my-1 ms-4 px-4" href="{{ url_for('tmdb', number=number, page=page, total=total, action='next') }}">»</a>
    {% else %}
        <button type="button" class="btn btn-primary btn-lg my-1 ms-4 px-4" style="pointer-events: none;">»</button>
    {% endif %}

    {% if current_user.is_authenticated %}
        <a class="btn btn-primary btn-sm my-1 ms-md-5 px-3" href="{{ url_for('tmdb', number=number, page=page, total=total, action='save') }}">Αποθήκευση στη συλλογή μου</a>
    {% endif %}
</div>
<hr>

<div class="container tmdb-container">
    <div class="row align-items-top">
        <div class="col-md-4">
            {% if tmdb_movie %}
                {% if img_data %}  {# Αν υπάρχουν δεδομένα της εικόνας από τον flask server, εμφάνισε τα… #}
                    <img class="img-fluid d-block m-auto" src="data:image/jpeg;base64,{{img_data}}" style="max-height:400px">
                {% else %}  {# …αλλιώς, πάρε την εικόνα από το TMDB #}
                    <img class="img-fluid d-block m-auto" src="{{tmdb_movie.image}}" style="max-height:400px">
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-8">
            {% if tmdb_movie %}
                <div class="main-movie-title">
                    <a class="movie_title" href="#">{{ tmdb_movie.title }} ({{ tmdb_movie.release_year }}) [{{ tmdb_movie.rating / 10 }}]</a>
                </div>
                <div class="main-movie-full-text">
                    {{ tmdb_movie.plot }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row text-center">
    <div>
        This product uses the TMDB API but is not endorsed or certified by TMDB.
    </div>
</div>
{% endblock %}
